@import "tailwindcss";

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 700;
}

.command-palette,
.settings-panel {
  opacity: 0;
  transform: scale(0.95) translateY(-20px);
  pointer-events: none;
}

.command-palette.active,
.settings-panel.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: all;
}

.btn-scale {
  transition: transform 0.15s ease-in-out;
}

.transition {
  transition: all 0.2s ease;
}

.btn-scale:active {
  transform: scale(90%);
}

.checkbox-container {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.checkbox-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1a;
  transition: 0.3s;
  border-radius: 24px;
}

.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #3e3e3e;
  transition: 0.3s;
  border-radius: 50%;
}

.checkbox-input:checked + .checkbox-slider {
  background-color: #ffffff;
}

.checkbox-input:checked + .checkbox-slider:before {
  transform: translateX(20px);
  background-color: rgb(0, 0, 0);
}

.settings-tab {
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.settings-tab:hover {
  background-color: #1a1a1a;
}

.settings-tab.active {
  background-color: #1a1a1a;
  color: white;
}

.settings-content {
  display: none;
  transition: all 0.3s ease-in-out;
}

.settings-content.active {
  display: block;
}

.relative {
  position: relative;
}
